EMAIL_ADDRESS=your_outlook_email@outlook.com
EMAIL_PASSWORD=your_app_password
DEFAULT_TEMPLATE=Greetings Mr {name},\n\nI am a Software Engineer and an AI Expert with 6 years of experience based in Dubai.\n\nI have been leading the development of Real Estate CRM solutions that's being used by 200+ agents in our company. I have a solid experience in delivering end to end solutions and a strong background on lots of \n\nI am ready to provide you with any details regarding my career or education, and I will be available to join you after 30 days if you consider my application.\n\nBest wishes,\nOussama 